/* app.css */
body, html {
  margin: 0;
  padding: 0;

  background: linear-gradient(177.9deg, rgb(58, 62, 88) 3.6%, rgb(119, 127, 148) 105.8%);
  color: rgb(0, 0, 0);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #1c1c1c; 
  padding: 10px 20px;
  width: 100vw; 
  max-width: 100%; 
  margin: 0 auto; 
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}




.nav {
  display: flex;
  gap: 15px;
  
}

.HeaderButton, .nav-link {
  background-color: rgb(0, 0, 36); /* Blue color for buttons */
  border: none;
  padding: 10px 15px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin-left: 15px;
  text-decoration: none;
  text-align: center;
  line-height: 1.5;
}

.HeaderButton:hover, .nav-link:hover {
  background-color: #000435; /* Darker blue for hover effect */
}




h1 {
  margin: 0;
}
.logo {
  width: 150px; /* Adjust size to fit your layout */
  height: auto;
}
